/* CSS declarations go here */
.products{
  margin-bottom: 5px;
  /*height: 300px;*/
}
.active{
  /*height: "350px";
  margin: "5px";*/
  background-color: "lightgrey";
}
.inactive{
  /*height: "350px";
  margin: "5px";*/
  background-color: "white";
}
