/* CSS declarations go here */
.products{
  margin-bottom: 5px;
  /*height: 300px;*/
}
.item{
  height: "350px";
  margin: "5px";
}
.active{
  height: "350px";
  margin: "5px";
  background-color: "lightgrey" !important;
}
.inactive{
  /*height: "350px";
  margin: "5px";*/
  background-color: "white" !important;
}
